


.img-wrapper{
    --size:120px;
    --radius:50%;
    height:var(--size);
    width: var(--size);
    
    border-radius: var(--radius);
    
    img{
        height: 100%;
        width: 100%;

        object-fit: cover;
    }
}