.hastag-btn-wrapper{

    background-color: rgb(255, 255, 255);
    color: #000;
    $h:2em;
    line-height: $h;
    button,span{
        padding: .4em;
    
    }
    button{
        background-color: red;
        border: 0;
        color: #fff;
        height: 100%;
        width: $h;
        // aspect-ratio: 1;

    }
}