.social-links-wrapper{
    margin-block: 2em ;
    gap:1em;
    color: #fff;
    // background-color: red;


    .title{
        &:before{
            content: "";
            position: absolute;
            height: 2px;
            width: 60%;
            background-color: #fff;
        }
        span{
            padding: 1em;
            background-color: #000;
            z-index: 2;

        }
    }

    .link-style{
        .icon-wrapper{
            margin-left: .5em;
        }
    }
}

.social-links-content{
    gap:1em;
    padding-left: 3em;
}